{
  "presets": [ "env", "stage-1", "react"],
  "plugins": [
    "styled-components"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "production": {
      "plugins": [
        ["grommet"],
        ["transform-imports", { "grommet-controls": {
          "transform": "grommet-controls/components/${member}",
          "preventFullImport": true }}]

      ]
    }
  }
}
